* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(119, 222, 147, 0.19);  
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    color: black;
}

.input-container {
    position: relative;
    width: 330px;
    height: 54px;
    margin-bottom: 10px; 
}

.input-button {
    width: 100%;
    height: 45px;
    background-color: #eee9e9;
    text-align: left;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 0;
    font-weight: 700;
    color: black;
}

.icon-eye {
    position: absolute;
    top: 50%;
    right: 40px;
    margin: -19px;
    font-size: 30px;
    color: black;
    cursor: pointer;
    right: 30px;
}

.input-button1 {
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 20px;
    height: 45px;
    color: black;
}

.label-selection {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
}

.label-with-circle {
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    gap: 10px;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid black;
    font-weight: 700;
}

input[type="radio"] {
    display: none;
}

.content {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: black;
    margin-top: 0;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin-bottom: 0;
}

.click-button {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    width: 340px;
    height: 50px;
    margin-bottom: 20px;

    background-color: rgb(206, 68, 68);
    font-weight: 700;
}
.change-button, .back-button {
    width: 60px;
    height: 40px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    z-index: 10;
}


.change-button {
    bottom: 5px;
    right: 10px;
}


.back-button {
    bottom: 5px;
    left: 10px;
    background-color: #ccc;
}