* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    width: 100vw;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; 
    margin-top: 30px;
}

.eyeball {
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    object-fit: cover; 
}
.line-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.line {
    flex-grow: 1; 
    height: 2px;
    background-color: #3951b2; 
}

.text {
    font-size: 16px;
    font-weight: bold; 
}
.icon-large {
    font-size: 32px;
    color: #007bff;
}

.input-container {
    position: relative;
    width: 305px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-bottom: 2px solid #ccc;
    margin-left: auto;
    margin-right: auto; 
}

.input-button {
    width: 100%;
    height: 45px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border: none;
    outline: none;
    display: flex;
    font-size: 18px;
    color: black;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    left: 20px;
}


.input-container .fa-user, 
.input-container .fa-lock {
    position: absolute;
    left: 0;
    font-size: 30px;
    color: #007bff; 
    background-color: transparent; 
}

.login-button {
    width: 305px;
    height: 45px;
    background-color: #007bff;
    border: none;
    outline: none;
    color: white;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}
.input-button1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px; 
    margin-top: 10px;
    margin-bottom: 40px;
}
.content {
    font-size: 14px;
    color: #050505;
}
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.click-button {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    width: 310px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(93, 66, 225);
    font-weight: 700;
    border-radius: 10px;
}
.square-button {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 0;
   
}


.square {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5771a9;
    margin-bottom: 0;
    border-radius: 10px;
    
}
.square.facebook {
    background-color: #4157b7; 
    color: white;
    font-size: 50px;
}
.square.wifi {
    background-color: rgb(229, 126, 57); 
    color: white;
    font-size: 50px;
}

.square.user {
    background-color: #007bff;
    color: white;
    font-size: 50px;
}
.back-button {
    width: 60px;
    height: 40px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    z-index: 10;
}





.back-button {
    bottom: 5px;
    left: 10px;
    background-color: #ccc;
}